@{
    ViewData["Title"] = "Aswing Trading";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Slider Start -->
<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animated fadeInUp">文具<br>  &#38; 制服</h1>
                    <p class="animated fadeInUp">我們要為每個學生提供最好的資源，文具用的舒適制服穿得舒服 </br>  學生是我們國家未來的棟樑</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Wrapper Start -->
<section class="about section ">
    <div class="container ">
        <div class="row">
            <div class="col-md-7">
                <div class="block">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <p>
                            Our Story
                            Aswing was founded in 1996, located in Penang, Malaysia. We decided to go online and offline to stay connect with our customers world-wide today.
                            We are more than just an e-commerce platform – we are your go-to destination for a seamless and delightful shopping experience. Explore a world of educational supplies designed to cater to your every need
                        </p>
                        <h2 class="section-subtitle">Our Commitment to You</h2>

                        <p><strong>Quality Products:</strong> We curate a selection of back to school items from trusted brands, ensuring that every item meets our high standards of quality.</p>
                        <p><strong>Convenience:</strong> Enjoy the convenience of shopping from the comfort of your home or on the go. Our user-friendly interface and secure payment options make your shopping experience smooth and hassle-free.</p>

                        <p><strong>Customer Satisfaction: </strong>Your satisfaction is our priority. We go the extra mile to ensure that your shopping experience exceeds expectations, from browsing to delivery.</p>
                        <p><strong>Transparency:</strong>We believe in transparency and honesty. You can trust that the information provided about our products is accurate and reliable.</p>

                    </div>

                </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 bg-us">
                <div class="block">
                </div>
            </div><!-- .col-md-5 close -->
        </div>
    </div>
</section>

<section class="feature ">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3972.632330045921!2d100.270123!3d5.319911!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac01aff3f575b%3A0x529db9b2bf756c25!2sAswing%20Trading!5e0!3m2!1szh-TW!2sus!4v1728654204306!5m2!1szh-TW!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h2 class="section-subtitle">Our Commitment to You</h2>

                <p><strong>Quality Products:</strong> We curate a selection of back to school items from trusted brands, ensuring that every item meets our high standards of quality.</p>
                <p><strong>Convenience:</strong> Enjoy the convenience of shopping from the comfort of your home or on the go. Our user-friendly interface and secure payment options make your shopping experience smooth and hassle-free.</p>

                <p><strong>Customer Satisfaction: </strong>Your satisfaction is our priority. We go the extra mile to ensure that your shopping experience exceeds expectations, from browsing to delivery.</p>
                <p><strong>Transparency:</strong>We believe in transparency and honesty. You can trust that the information provided about our products is accurate and reliable.</p>



            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2>Our Services</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item">
                    <i class="fa-solid fa-truck"></i>
                    <h4>Free delivery</h4>
                    <p>For orders over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <h4>30-day return</h4>
                    <p>No questions asked </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item">
                    <i class="fa-solid fa-percent"></i>
                    <h4>Exclusive discounts</h4>
                    <p>For our subscribers </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-item">
                    <i class="fa-brands fa-cc-visa"></i>
                    <h4>Secure payments</h4>
                    <p>256-bit encryption </p>
                </div>
            </div>

        </div>
    </div>
</section>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - prjBookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
